.busca {
  background-size: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 24px;
}

#search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  width: 240px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 24px;
}

#lupa {
  width: 24px;
  height: 24px;
  background-image: url('../views/img/lupa.png');
  background-repeat: no-repeat;
  background-size: 24px;
}

.interno {
  border: none;
}

input::placeholder {
  color: #ee0e7d;
}

.login {
  margin-right: 30px;
}

.carrinho {
  width: 24px;
  height: 24px;
  background-image: url('../views/img/carrinho.png');
  background-repeat: no-repeat;
  background-size: 24px;
}
