#button {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid;
  border-radius: 6px;
  padding: 12px 24px;
}

#button p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  background: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;
  position: absolute;
}
