.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  width: 209px;
  height: 271px;
  background-color: #ffffff;
  box-shadow: 0 32px 32px rgba(0, 0, 0, 0.25);
}

#buttonCard {
  background: none;
  padding: 0 24px;
  border: 1px solid #ee0e7d;
  border-radius: 24px;
  position: absolute;
  bottom: 16px;
}

#texto {
  color: #ee0e7d;
}
