#footer {
  position: relative;
  width: 1440px;
  height: 80px;
  background-color: #000000;
}

#company {
  width: 142px;
  height: 27px;
  background-image: url('../views/img/73c7edab98c1b669e471cbdb4ea723a1.png');
  background-repeat: no-repeat;
  background-size: 142px;
  position: absolute;
  top: 27px;
  left: 208px;
}

#social {
  position: absolute;
  top: 24px;
  right: 208px;
  width: 130px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

#faceb {
  width: 32px;
  height: 32px;
  margin-right: -30px;
  background-image: url('../views/img/facebook.png');
  background-repeat: no-repeat;
  background-size: 32px;
}

#insta {
  width: 32px;
  height: 32px;
  margin-right: 13px;
  background-image: url('../views/img/instagram.png');
  background-repeat: no-repeat;
  background-size: 32px;
}

#in {
  width: 32px;
  height: 32px;

  background-image: url('../views/img/linkedin\ .png');
  background-repeat: no-repeat;
  background-size: 32px;
}
